.site-nav {
	border-top: 1px solid #aa0000;
	border-bottom: 1px solid #aa0000;
}
.post-read-more {
	margin:0 0 15px 0;
}
a:visited, .post-content a, .post-content a:visited {
	color: #2583AD;
}
.works-category {
	/* background: #333; */
	color:#eee;
	padding:10px 5px;
	text-align: center;
	margin:15px 5px;
	cursor: pointer;
}
.project-img {
	float:left;
	margin:0 15px 0 0;
}
.project-title {	
	color:#333;
	padding:10px 15px;
	font-size:20px;
	font-weight:bold;
	text-decoration: underline;
}
.project-header {
	margin:10px;
	clear: both;
}
.project-content {
	margin:10px 0 0 0;
}
.social-icon-sidebar {
	width:30px !important;
	height:30px !important;	
}
.clear {clear: both;}