/* Main modifications */
body {
  height: 100%;
}
.page-content {
  min-height:750px;
}
.page-content .descrip {
  color: #ababab;
}
.footer {
  padding: 50px 0;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;  
  padding:50px 0;    
  width:100%;
  text-align: center;
} */

/* Common jquery-ui overrides */
.ui-accordion div.ui-accordion-content {
	height: auto !important;
}

/* Works Page */
.project-content p {
    font-size: 17px;
    font-style: italic;
}