.ui-accordion div.ui-accordion-content {
	height: auto !important;
}

.project-content p {
    font-size: 17px;
    font-style: italic;
}

/* .footer {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width:100%;
  	padding:0;
  	margin:0;
  	height:50px;
  	text-align: center;
} */