/* Main modifications */
body {
  height: 100%;
}
.page-content {
  min-height:750px;
}
.footer {
  padding: 50px 0;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;  
  padding:50px 0;    
  width:100%;
  text-align: center;
} */

/* Common jquery-ui overrides */
.ui-accordion div.ui-accordion-content {
	height: auto !important;
}

/* Works Page */
.project-header img { height:25px; width:30px; margin:3px 0 0 0; }
.project-header .project-created { color:#036; font-size: 13px; font-style: italic; }
.project-content a { color:#2c8def !important; }
.project-content .descrip { font-size: 16px; font-style: italic; color: #ababab; }
.project-content .project-tech-list { text-align: right; font-size: 13px; }
.project-content .project-demo-link { text-align: right; color:#2c8def !important; font-size:13px; }
.project-content .project-social-area { text-align: left; }
.project-list .project-title { font-size: 22px; font-weight: bold; }

/* Post styles */
.highlighter-file-title { font-size:13px; color:#999; font-style: italic; margin:10px 0 10px;}